.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    margin: 1em 5em 1em 0;
    height: 2em;

    color: var(--palette-primary-text);
}
  
.footer > * {
    margin: 0.25rem 0.75em 0.25rem 0.75em;
    text-decoration: underline;
}
