:root {
    /*
        https://colorhunt.co/palette/4a3933f0a500e45826e6d5b8
    */
    --palette-primary: #E45826 ;
    --palette-primary-alt: #D89216 ;
    --palette-primary-text: #2C061F;

    --palette-secondary: #D89216;
    --palette-secondary-alt: #E1D89F;
    --palette-secondary-text: #2C061F;

    --palette-background: #E9DFA8;
    --palette-background-shadow: #2C061F;
}

html,
body {
    max-width: 100%;
    background: var(--palette-background);
    color: var(--palette-primary-text);

    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; 
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
