.nav {
    width: 100%;
    height: 2em;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    margin: 1em 0 1em 0;

    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--palette-primary-alt);
}

.nav a {
    margin: 0 1em 0 1em;
    padding: 0.5em 1em 0.5em 0.5em;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
    text-decoration: underline;
}

.highlight {
    color: var(--palette-primary);
    text-decoration: underline;
}
