.card {
    max-width: 100%;
    flex-basis: 48%;
    height: 400px;
    margin: 0 0.5rem 4rem 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    color: var(--palette-secondary-text);

    border-radius: 4px;

    background-color: white;
    background-size: cover;
    background-position: top center;

    box-shadow: 0px 6px 4px -4px var(--palette-background-shadow);

    transition: box-shadow 0.15s ease;
}

@media (max-width: 1080px) {
    .card {
        flex-basis: 100%;
    }
}

.card:hover,
.card:focus,
.card:active {
    box-shadow: 0px 8px 10px -4px var(--palette-background-shadow);
}

.description {
    min-width: 100%;

    min-height: 200px;
    max-height: 200px;

    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 0 0 4px 4px;
    text-align: left;

    background: var(--palette-secondary);

    overflow: auto;
}

.description h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
}

.description p {
    font-size: 1.15rem;
    line-height: 1.75;
    text-align: justify;
}

.description p a {
    text-decoration: underline;
}

.title_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.title_container i {
    margin: 0 1rem 0 0;
    transform: scale(-1, 1);
}

.tag_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}

.tag {
    font-size: 0.9rem;
    font-family: Raleway sans-serif;
    text-align: center;

    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    margin: 0 0.25rem 0.25rem 0.25rem;
    
    border-radius: 4px;
    background: var(--palette-secondary-alt);
}
