.title_container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 6rem 15% 6rem 0;

    text-align: justify;
    line-height: 1.8;
}

.title {
    margin: 0 0 0 0;
    line-height: 1;
    font-size: 5rem;
    font-weight: normal;
    text-align: left;
}

.title b, .description b {
    color: var(--palette-primary);
}

.description {
    margin: 1rem 0 0 0.1rem;
    line-height: 1.5;
    font-size: 1.5rem;
}

.portfolio_container {
    max-width: 81%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 720px) {
    .title_container {
        margin-top: 2rem;
        width: 75%;
        margin-right: 14%;
    }

    .portfolio_container {
        max-width: 91%;
    }
}
